-- CreateTable
CREATE TABLE "blueprints" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "blueprint_url" TEXT,
    "blueprint_code" TEXT,
    "blueprint_hash" TEXT,
    "post_id" TEXT,
    "name" TEXT,
    "description" TEXT,
    "extracted_keywords" json,
    "topic_keywords" json,
    "keywords_yake" json,
    "keywords_tfidf" json,
    CONSTRAINT "blueprints_post_id_fkey" FOREIGN KEY ("post_id") REFERENCES "posts" ("post_id") ON DELETE NO ACTION ON UPDATE NO ACTION
);

-- CreateTable
CREATE TABLE "blueprints_categorized" (
    "blueprint_url" TEXT,
    "blueprint_code" TEXT,
    "post_id" TEXT,
    "description" TEXT,
    "keywords_yake" TEXT,
    "blueprint_hash" TEXT,
    "id" BIGINT NOT NULL PRIMARY KEY,
    "name" TEXT,
    "extracted_keywords" TEXT,
    "topic_id" TEXT,
    "tags" TEXT,
    "created_at" DATETIME,
    "features" TEXT,
    "fine_cluster" BIGINT,
    "top_cluster" BIGINT
);

-- CreateTable
CREATE TABLE "blueprints_filtered" (
    "blueprint_url" TEXT,
    "blueprint_code" TEXT,
    "post_id" TEXT,
    "description" TEXT,
    "keywords_yake" TEXT,
    "blueprint_hash" TEXT,
    "id" BIGINT,
    "name" TEXT,
    "extracted_keywords" TEXT,
    "topic_id" TEXT,
    "tags" TEXT,
    "created_at" DATETIME
);

-- CreateTable
CREATE TABLE "blueprints_fts" (
    "blueprint_id" ,
    "blueprint_code" ,
    "topic_title" ,
    "blueprint_expanded" ,
    "blueprint_declaraion" ,
    "blueprint_trigger" ,
    "blueprint_condition" ,
    "blueprint_action" ,
    "blueprint_input" ,
    "post_content" 
);

-- CreateTable
CREATE TABLE "blueprints_fts_config" (
    "k"  NOT NULL PRIMARY KEY,
    "v" 
);

-- CreateTable
CREATE TABLE "blueprints_fts_content" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "c0" ,
    "c1" ,
    "c2" ,
    "c3" ,
    "c4" ,
    "c5" ,
    "c6" ,
    "c7" ,
    "c8" ,
    "c9" 
);

-- CreateTable
CREATE TABLE "blueprints_fts_data" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "block" BLOB
);

-- CreateTable
CREATE TABLE "blueprints_fts_docsize" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "sz" BLOB
);

-- CreateTable
CREATE TABLE "blueprints_fts_idx" (
    "segid"  NOT NULL,
    "term"  NOT NULL,
    "pgno" ,

    PRIMARY KEY ("segid", "term")
);

-- CreateTable
CREATE TABLE "posts" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "post_url" TEXT,
    "post_id" TEXT,
    "name" TEXT,
    "username" TEXT,
    "created_at" DATETIME,
    "cooked" TEXT,
    "post_number" INTEGER,
    "post_type" INTEGER,
    "updated_at" DATETIME,
    "reply_count" INTEGER,
    "reply_to_post_number" INTEGER,
    "quote_count" INTEGER,
    "incoming_link_count" INTEGER,
    "reads" INTEGER,
    "readers_count" INTEGER,
    "score" INTEGER,
    "topic_id" TEXT,
    CONSTRAINT "posts_topic_id_fkey" FOREIGN KEY ("topic_id") REFERENCES "topics" ("topic_id") ON DELETE NO ACTION ON UPDATE NO ACTION
);

-- CreateTable
CREATE TABLE "topics" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "first_post_cooked" TEXT,
    "topic_url" TEXT,
    "topic_id" TEXT,
    "title" TEXT,
    "fancy_title" TEXT,
    "slug" TEXT,
    "posts_count" INTEGER,
    "reply_count" INTEGER,
    "highest_post_number" INTEGER,
    "image_url" TEXT,
    "created_at" DATETIME,
    "last_posted_at" TEXT,
    "visible" BOOLEAN,
    "closed" BOOLEAN,
    "archived" BOOLEAN,
    "archetype" TEXT,
    "category_id" INTEGER,
    "pinned_globally" BOOLEAN,
    "featured_link" TEXT,
    "word_count" INTEGER,
    "user_id" INTEGER,
    "pinned_at" DATETIME,
    "pinned_until" TEXT,
    "slow_mode_seconds" INTEGER,
    "draft" TEXT,
    "draft_key" TEXT,
    "draft_sequence" INTEGER,
    "unpinned" TEXT,
    "pinned" BOOLEAN,
    "current_post_number" INTEGER,
    "chunk_size" INTEGER,
    "bookmarked" BOOLEAN,
    "topic_timer" TEXT,
    "message_bus_last_id" INTEGER,
    "participant_count" INTEGER,
    "show_read_indicator" BOOLEAN,
    "thumbnails" TEXT,
    "slow_mode_enabled_until" TEXT,
    "summarizable" BOOLEAN,
    "post_stream" TEXT,
    "tags" TEXT,
    "tags_descriptions" TEXT,
    "crawled_at" DATETIME,
    "views" INTEGER,
    "like_count" INTEGER
);

-- CreateIndex
Pragma writable_schema=1;
CREATE UNIQUE INDEX "sqlite_autoindex_posts_1" ON "posts"("post_id");
Pragma writable_schema=0;

-- CreateIndex
Pragma writable_schema=1;
CREATE UNIQUE INDEX "sqlite_autoindex_topics_1" ON "topics"("topic_id");
Pragma writable_schema=0;

